@charset "utf-8";
/* CSS Document */
* {
	margin:0px;
	padding:0px;
}
body {
	margin:0 auto;
 
	font:12px/1.6 "微软雅黑";
}
ul li{ padding-bottom:4px;
padding-top:5px;}

input{ margin-left:10px;}
#header { padding:20px 0px 20px 30px; background-color: #242730; color: #fff;}
#header img {
	vertical-align:middle;
	
	padding-top:-10px;
}
#header h1 {
	color:#fff;
	font-size:24px;
	font-family:"黑体";
}
#left{ background-color:#393d49 ; height:600px; width:200px; float:left;    padding-bottom:35px;
}
#left h3{ background-color:#2c2f38; text-align:left ; color:#FFF;
	text-indent: 20px;
height: 30px;
line-height: 30px;}
#left img{ margin:0px 5px 0px 5px;}
#left ul{ list-style:none; padding-bottom:15px;}
#left ul li{ background:url(images/bank.png) bottom no-repeat; width:150px; margin:5px 10px 0px 10px;}
#left ul li a{ text-decoration:none; color:#999;}
#right { margin-left: 220px;    }
#right table { margin-top:10px; color:#006699; margin:0 auto;width: 100%;
}
#right table tr td table{ margin:0 auto;}
#right table tr td table tr div{ text-align:center;}
#right table tr td table tr td{ padding-top:5px; padding-left:5px; text-align:left;
padding-bottom:5px;}
#footer {
	clear:both;
	width:100%;
	text-align:center;
	margin-top:20px;
	height:40px;
	line-height: 40px; 
	background-color:#242730;
	color: #fff;
 
}